[submodule "Client/Vendor/SDL"]
	path = Client/Vendor/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "Core/Vendor/spdlog"]
	path = Core/Vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Client/Vendor/imgui"]
	path = Client/Vendor/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "Server/Vendor/cryptopp"]
	path = Server/Vendor/cryptopp
	url = https://github.com/weidai11/cryptopp.git
